<h1>home</h1>
{{currentUser}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="../../js/jquery-1.4.4.min.js" type="text/javascript"></script>

    <script src="js/jsCarousel/jsCarousel.js" type="text/javascript"></script>

    <link href="../../js/jsCarousel/jsCarousel.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function() {
            $('#jsCarousel').jsCarousel({ onthumbnailclick: function(src) { alert(src); }, autoscroll: true });
        });
    </script>
</head>
<body>
  <div class="wrapper visible-lg">
    <div class="header-carousel">
      <h4>the most visited</h4>
    </div>
    <div id="jsCarousel">
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400g" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
        <div>
            <img src="http://placehold.it/400x400" /><br />
            <span class="thumbnail-text">username #lvl</span></div>
    </div>
  </div>
  
</body>
</html>
